<div class="max-w-full mx-auto sm:px-6 lg:px-8 py-12">
  <div class="md:flex justify-center">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 md:ml-4">
          <!--   Progress bar 1-->
             <div class="mr-2 sm:mb-0 ml-2">
              <div class="sm:w-full md:w-72">
                  <p>HTML</p>
                  <progress id="htmlProgress" class="progress progress-accent w-56" value="10" max="100"></progress>
              </div>
             </div>
             <!-- End Progress bar 1-->
               <!--   Progress bar 2-->
             <div class="mr-2 sm:mb-0 ml-2">
              <div class="sm:w-full md:w-72">
                  <p>CSS</p>
                  <progress id="cssProgress" class="progress progress-warning w-full mb-2"  value="0" max="100"></progress>                   
              </div>
             </div>
             <!-- End Progress bar 2-->
            <!--   Progress bar 3-->
             <div class="mr-2 sm:mb-0 ml-2">
              <div class="sm:w-full md:w-72">
                  <p>JavaScript</p>
                  <progress id="jsProgress" class="progress progress-error w-full mb-2" value="0" max="100"></progress>
              </div>
             </div>
             <!-- End Progress bar 3-->
               <!--   Progress bar 4-->
               <div class="mr-2 sm:mb-0 ml-2">
                  <div class="sm:w-full md:w-72">
                      <p>Angular</p>
                      <progress id="angularProgress" class="progress progress-secundary w-full mb-2" value="0" max="100"></progress>

                  </div>
                 </div>
                 <!-- End Progress bar 4-->
               <!--   Progress bar 5-->
               <div class="mr-2 sm:mb-0 ml-2">
                  <div class="sm:w-full md:w-72">
                      <p>React</p>
                      <progress id="reactProgress" class="progress progress-primary w-full mb-2" value="0" max="100"></progress>
                    </div>
                 </div>
                 <!-- End Progress bar 5-->
               <!--   Progress bar 6-->
               <div class="mr-2 sm:mb-0 ml-2">
                  <div class="sm:w-full md:w-72">
                      <p>PHP</p>
                      <progress id="phpProgress" class="progress progress-info w-full mb-2" value="0" max="100"></progress>
                  </div>
                 </div>
                 <!-- End Progress bar 6-->

                    <!--   Progress bar 7-->
               <div class="mr-2 sm:mb-0 ml-2">
                <div class="sm:w-full md:w-72">
                    <p>Java</p>
                    <div class="relative pt-1">
                      <div id="javaProgress" class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-[#383F47]">
                        <div value="0" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-cyan-500"></div>
                      </div>
                    </div>
                </div>
               </div>
               <!-- End Progress bar 7-->

            
                <!--   Progress bar 8-->
               <div class="mr-2 sm:mb-0 ml-2">
                <div class="sm:w-full md:w-72">
                    <p>Node JS</p>
                    <div class="relative pt-1">
                      <div id="nodeProgress" class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-[#383F47]">
                        <div value="0" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-lime-400"></div>
                      </div>
                    </div>
                </div>
               </div>
               <!-- End Progress bar 8-->
               <!--   Progress bar 9-->
               <div class="mr-2 sm:mb-0 ml-2">
                <div class="sm:w-full md:w-72">
                    <p>MySQL</p>
                    <div class="relative pt-1">
                      <div id="mysqlProgress" class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-[#383F47]">
                        <div value="0" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                      </div>
                    </div>
                </div>
               </div>
               <!-- End Progress bar 9-->
               <!--   Progress bar 10-->
               <div class="mr-2 sm:mb-0 ml-2">
                <div class="sm:w-full md:w-72">
                    <p class="mb-2">MongoDB</p>
                    <div class="radial-progress text-accent" id="mongoRadial" style="--value:0;" role="progressbar">70%</div>
                </div>
               </div>
               <!-- End Progress bar 10-->
                <!--   Progress bar 11-->
               <div class="mr-2 sm:mb-0 ml-2">
                <div class="sm:w-full md:w-72">
                    <p class="mb-2">Ionic</p>
                    <div class="radial-progress text-secondary" id="ionicRadial" style="--value:0;" role="progressbar">80%</div>
                </div>
               </div>
               <!-- End Progress bar 11-->
                <!--   Progress bar 12-->
               <div class="mr-2 sm:mb-0 ml-2">
                <div class="sm:w-full md:w-72">
                    <p class="mb-2">Express JS</p>
                    <div class="radial-progress text-sucess" id="expressRadial" style="--value:0;" role="progressbar">90%</div>
                </div>
               </div>
               <!-- End Progress bar 12-->

               
      </div>
  </div>
</div>
