
<div class="max-w-full mx-auto sm:px-6 lg:px-8 py-12">
    <div class="md:flex justify-center">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 md:ml-4">
            <!--   Progress bar 1-->
               <div class="mr-2 sm:mb-0 ml-2">
                <div class="sm:w-full md:w-72">
                    <p>HTML</p>
                    <progress id="htmlProgress" class="progress progress-accent w-56" value="10" max="100">                        
                    </progress>
                </div>
               </div>
               <!-- End Progress bar 1-->
        </div>
    </div>
</div>
